# Vercel Front SaaS (Railway backend)
# Con o sin /api al final: el front normaliza a .../api
NEXT_PUBLIC_API_URL=https://imedicsaasback-production.up.railway.app/api

NEXT_PUBLIC_AUTH_CLIENT_ID=imedic-frontend 
NEXT_PUBLIC_APP_ENV=production 
NEXT_PUBLIC_APP_NAME=iMedic 
