# Vercel Front 2 (Railway backend)
NEXT_PUBLIC_API_URL=https://imedicwsback-production.up.railway.app/api

NEXT_PUBLIC_AUTH_CLIENT_ID=imedic-frontend
NEXT_PUBLIC_APP_ENV=production 
NEXT_PUBLIC_APP_NAME=iMedic 
